a {
    font-size: 14px;
  }
  
  .home {
    margin-top: 55px;
    h3, p {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
  
    h4 {
      font-size: 22px;
    }

    &__container--banner {
      max-height: 768px;
      overflow: hidden;
      position: relative;

      > div {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 70%;
        text-align: left;
        transform: translateY(-40%);
        margin: auto;
      }
    
      h1 {
        color: white;
        font-size: 36px;
        font-weight: 700;
      }
    
      p {
        color: white;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &__container {
      padding: 48px 8px 16px;
      max-width: 940px;
      margin: auto;
    }
    &__service{
      &__items{
        // font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        &__container{
          text-align: center;
        }
      }
      &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: rgb(84, 90, 119);
        position: relative;
        cursor: pointer;
        border-radius: 100%;
        margin: 8px auto;
        transition: transform 0.25s ease 0s;
        svg path {
          color: white;
          fill: white;
        }
        &:hover{
          background-color: #008fb4;
          transform: scale(1.05);
        }
      }
      


    }
    &__done{
      background-color:#f6f8fd;
    }

    &__container-animation {
      height: 200px;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      margin: 25px auto 0 auto;
      &__inner {
        display: flex;
        width: 200%;
        position: absolute;
        animation: marquee 20s linear infinite;
      
        &:hover {
          animation-play-state: paused;
        }
      }
      .animation--scroll-infinite {
        animation: infinite-slide 200s linear infinite;
        white-space: nowrap;
      }
      
      
    }

    &__container--browse-button {
      padding-bottom: 30px;
      text-align: center;
    }

    &__how-it-works{
      &--header {
        width: 50%;
        margin: 8px auto 24px auto;
      }
      &-boxes{
        margin: 20px 0;
        padding: 0 0 25px 0;
        display: flex;
        img{
          width: 100px;
          height: 100px!important;
          }
      }
      &-ready{
        display: flex;
        margin: 34px 0 0 0;
        justify-content: space-around;
        .browse-button{
          margin:30px 0
        }

      }
      &__video{
        margin:auto;
        width: calc(height*3);
        height: 9rem;
      }
      iframe{
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }
    &__thing{
      background-color: #f6f8fd;
    }


  }
  

  
  .button--space-xs {
    margin: 16px 0;
  }
  
 



  

  // animation for infinite-slide
  @keyframes infinite-slide {
    0% {
      transform: translateZ(0);
    }
  
    to {
      transform: translate3d(-1920px, 0, 0);
    }
  }
  
  //responsive
  @media screen and (max-width: 767px) {
    .home{
      &__how-it-works-boxes{
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      &__how-it-works{
      &__video{
  
      }
    }
      iframe{
        width: 100%;
        height: 100%
      }
      &__how-it-works-ready{
        flex-wrap: wrap;
      }
      &__container--banner h1 {
        font-size: 16px;
      }
      &__how-it-works--header {
        width: 90%;
      }
    }
  
  
  
  }