/* Nav */
.nav-up{
    top:-70px;

}
.nav-down{
    top:0;
}
/* fade in */
.fade{
    visibility: hidden;
} 
.fade-in{
    visibility: visible;
    animation:fade-in-bottom 1s cubic-bezier(.39,.575,.565,1) ;
}


@keyframes fade-in-bottom {
    0%{opacity: 0;transform: translateY(100px);}
    100%{opacity: 1;transform: translateY(0px);}
    }

/* zoom in */
.zoom{
    visibility:hidden;
}
.zoom-in{
    visibility: visible;
    animation: zoom-in-bottom 1s ease-in ;
}
@keyframes zoom-in-bottom{
    0%{opacity: 0;}
    100%{opacity: 100;}
}
/* slide in*/
.slide{
    visibility:hidden;
}
.slide-in{
    visibility: visible;
    animation: slide-in-bottom 1s ease-in ;
}
@keyframes slide-in-bottom{
    0%{opacity: 0; transform:translateX(50px) ;}
    100%{opacity: 100;transform: translateX(0);}
}



/* customized  rule
    you can customized the animation by the following rule
    .effect-before{
        
    }
    .effect-after{
        animation: animation name/ duration/ function/ delay/iteration-count/ direction 
    }
    @keyframe animation name{
        0%{opacity:0; transform:translateY(50px)}   this should be the original state
        100%{opacity:1; transform:translateY(0px)}  this should be the final state
    }
*/

.home-thing-bg{
    &-device-wrapper-active{
        animation:device-wrapper 0.3s linear 0.3s 1 forwards
    }
    &-left-active{
        animation:device-left 1.2s ease-in-out 0.3s forwards
    }
    &-right-active{
        animation:device-right 1.2s ease-in-out 0.5s  forwards
    }
    &-padLock-active{
        animation:device-padLock 1.3s ease-in-out 0.6s  forwards
    }
    &-light-1-active{
        animation:device-light 1.3s ease-in-out 0.9s  forwards
    }
    &-light-2-active{
        animation:device-light 1.3s ease-in-out 0.9s  forwards

    }
    &-light-3-active{
        animation:device-light 1.3s ease-in-out 0.9s  forwards
    }

}



// animation for home-page
.home-thing-bg-device-wrapper{
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin: 0px auto;
    border-radius: 250px;
    background-color: rgb(255,255,255);
    overflow: hidden;
    transform: matrix(0, 0, 0, 0, 0, 0);
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
}

@keyframes device-wrapper {
   
    20%{
        transform:matrix(0.1, 0, 0, 0.1, 0, 0);
    }

    50%{

        transform:matrix(0.3, 0, 0, 0.3, 0, 0);

    }

    70%{

        transform:matrix(0.5, 0, 0, 0.5, 0, 0);

    }

    80%{

        transform:matrix(0.7, 0, 0, 0.7, 0, 0);

    }

    90%{

        transform:matrix(0.8, 0, 0, 0.8, 0, 0);

    }
    100% {
        transform:matrix(1, 0, 0, 1, 0, 0);
    }
  }



.home-thing-bg-device-left{

    background-image: url('../../img/device-left.png');
    position: absolute;
    width: 123px;
    height: 178px;
    bottom: 0px;
    left: -15px;
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    transform: matrix(1, 0.29237, -0.29237, 1, -180, 0);
}


@keyframes device-left {
    0%{
        transform: matrix(1, 0, 0, 1, -180, 0);
    }

    100% {
        transform: matrix(0.9563, 0.29237, -0.29237, 0.9563, 0, 0);
    }
  }

  .home-thing-bg-device-right{

    background-image: url('../../img/device-right.png');
    position: absolute;
    width: 123px;
    height: 178px;
    bottom: 0px;
    left: -15px;
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    transform: matrix(1, 0, 0, 1, 300, 0);

  }

  @keyframes device-right {

    0% {
        transform: matrix(1, 0, 0, 1, 300, 0);
    }
   
    100% {
        transform: matrix(0.93969, -0.34202, 0.34202, 0.93969, 150, 0);
    }
  }

  .home-thing-bg-device-padLock{

    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: calc(50% - 24px);
    background-image: url("../../img/padlock.png");
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0); 
   
  
  }


  @keyframes device-padLock {

    
    90% {
        opacity: 0;
        transform: matrix(0.5, 0, 0, 0.5, 0, 0);
    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  .home-thing-bg-device-light-1{

    position: absolute;
    top: 14px;
    left: calc(50% - 10px);
    width: 5px;
    height: 6px;
    background-image: url("../../img/home-things-one-light-1.png");
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0); 
 
  }

  .home-thing-bg-device-light-2{

    position: absolute;
    top: 10px;
    left: calc(50% - 2px);
    width: 4px;
    height: 10px;
    background-image: url('../../img/home-things-one-light-2.png');
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0); 
  }

  .home-thing-bg-device-light-3{

    position: absolute;
    top: 14px;
    left: calc(50% + 6px);
    width: 5px;
    height: 6px;
    background-image: url("../../img/home-things-one-light-3.png");
    background-size: contain;
    background-position: 50% center;
    background-repeat: no-repeat;

    
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);
  }


  @keyframes device-light {

    0% {

        opacity: 0;
        transform: matrix(0, 0, 0, 0, 0, 0); 
    }

    91%{
        opacity: 0.1;
        transform: matrix(0, 0, 0, 0, 0, 0);
    }

    95%{
        opacity: 0.4;
        transform: matrix(0.3, 0, 0, 0.3, 0, 0);

    }

    96%{
        opacity: 0.8;
        transform: matrix(0.8, 0, 0.8, 0, 0);

    }

    100% {
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }


