html {
    overflow-y: scroll;
  }
  
  body {
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
  }
  
  .App {
    text-align: center;
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  body {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .button-xs {
    background: #008FB4;
    border-radius: 200px;
    border: 2px solid rgba(41, 43, 50, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 27px;
    letter-spacing: .44px;
    line-height: 27px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 1px 1px #9a0137;
    padding: 0px 10px;
    transition: all .5s ease-in-out;
  }
  
  .button-xs--spacing {
    margin: 0 10px;
  }
  
  @font-face {
    font-family: museo_sans;
    font-display: fallback;
    src: url(./webfonts/museo/museosans_500-webfont.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  
  .img--full-size {
    width: 100%;
    height: auto;
  }
  
  .home h2 {
    color: #292b32;
    font-size: 32px;
  }
  
  .flex--vertical-center {
    align-items: center;
  }
  
  .space-around {
    justify-content: space-around;
  }
  
  .relative {
    position: relative;
  }
  
  .clear-space {
    margin: 0;
    padding: 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .flex--space-between {
    justify-content: space-between !important;
  }
  
  .text--blue {
    color: rgb(0, 143, 180);
  }
  
  .background--light-grey {
    background-color: rgb(246, 248, 253) !important;
  }
  
  button:hover, .hover:hover {
    cursor: pointer;
  }
  
  .width--full {
    width: 100%;
  }
  
  .button--green {
    background-color: rgb(125, 179, 67) !important;
    color: white !important;
  }
  
  .button {
    width: 100%;
    border: 2px solid rgba(41, 43, 50, 0.1);
    border-radius: 200px;
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
    transition: all .5s ease-in-out;
  }
  
  input, textarea {
    font-size: 14px;
    font-family: museo_sans, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
    border: 1px solid #bbc2dc;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, 0.5);
    box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 75.3%, 0.5);
    border-radius: 4px;
    padding: 14px 12px;
    -webkit-animation: shadowFadeIn .125s ease-in-out;
    animation: shadowFadeIn .125s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input {
    min-height: 40px;
  }
  
  textarea {
    min-height: 150px !important;
  }
  
  .background--blue {
    background-image: linear-gradient(-179deg, #11c9e1 25%, #0798bf);
  }
  
  .vertical-middle {
    vertical-align: middle;
  }
  
  a:focus, button:focus {
    outline: none;
  }
  
  .button-md {
    width: 50%;
    background-color: #bbc2dc;
    border: 2px solid rgba(41, 43, 50, 0.1);
    border-radius: 200px;
    padding: 8px 16px;
    font-size: 16px;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
  }
  
  .button--red {
    background-color: #ff7e7e;
    color: white;
  }
  
  .color--red {
    color: red !important;
  }
  
  .button--lg {
    padding: 16px 24px;
    background-color: #008fb4;
    border-radius: 160px;
    color: white;
    font-size: 18px;
    height: 64px;
    transition: all .25s ease-in-out;
  
    &:hover {
      background-color: #08bdec;
    }
  }
  
  .button-xs:hover {
    background-color: #08bdec;
  }
  
  @media screen and (max-width: 767px) {
    .button--lg {
      height: auto !important;
      padding: 12px 14px !important;
      font-size: 12px !important;
    }
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }