.home-thing-bg{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background: white;
    overflow: hidden;
}

.home-thing-content{
    width: 50%;
}

.thing{
    width: 75%;
    margin: 75px auto;
    display: flex;
}




