.task__card{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
    margin: 10px;
    background: white;
    border-radius: 4px;
    color: #008fb4;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    
    }
    span{
        font-weight: 700;
        color: rgb(41, 43, 50);
        font-size: 11px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin: 0px 24px;
        padding: 7px 4px;
        display: block;
        border-bottom: 1px solid rgb(246, 248, 253);
    }
    &--main-container{
        display: flex;
        align-items: flex-start;
        margin: 12px 24px;
    }
    img{
        width: 32px ;
        height: 32px;
        margin-right: 12px;
        border-radius: 50%;
    }
    h5{
        width: 160px;
        height: 60px;
        white-space: pre-line;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgb(41, 43, 50);
        overflow: hidden;
        margin: 0;
        padding:0;
    }
    &--rate-container{
        width: calc(100% - 48px);
        margin: 0px 24px;
        padding: 6px 0px;
        border-top: 1px solid rgb(246, 248, 253);
        display: flex;
    }

    &--star{
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        fill:rgb(233,165,44) ;
    }
}

