$color_1: #545a77;
$color_2: #008fb4;

.img--logo {
	width: auto;
	height: 50px;
}
nav {
	ul {
		list-style: none;
		display: flex;
		color: $color_1;
		padding: 0 0 0 15px;
		font-weight: 500;
		margin: 0;
		li {
			&:hover {
				color: $color_2;
				border-top: 2px solid#008fb4;
				cursor: pointer;
				box-sizing: content-box;
			}
			padding: 20px 10px;
			font-size: 13px;
			box-sizing: content-box;
			border-top: 2px solid transparent;
			a {
				padding: 20px 10px;
			}
		}
	}
}
.button-xs {
	text-decoration: none;
}
header {
    height: 61px;
	display: flex;
	transition: .4s 0ms;
	background: #fff;
	border-bottom: 1px solid #ccc;
	left: 0;
	position: fixed;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 1003;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
	font-weight: 500;
	align-items: center;
	font-size: 13px;
	a {
		color: $color_1;
	}
}
.menu {
	margin-left: 20px;
	border-left: 1px solid rgba(0, 0, 0, .1);
	align-items: center;
	display: flex;
	padding-left: 22px;
}
.menu-user {
	align-items: center;
	display: flex;
	a {
		margin: 0 10px;
	}
}
.header-container {
	max-width: 1024px;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-container {
	justify-content: space-between;
	display: flex;
	align-items: center;
	width: 90%;
}
.browser-task {
	text-decoration: none;
}
.nav-avatar-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	border: 1px solid #bbc2dc;
	border-radius: 50%;
	padding: 0;
	width: 35px;
	&:hover {
		cursor: pointer;
	}
}
.header-mobile-menu {
	display: none;
}
@media screen and (max-width: 767px) {
	.header-mobile-menu {
		display: inline-block;
	}
	.menu {
		display: none;
	}
	.menu-user {
		>a {
			display: none;
		}
		position: unset;
	}
	.header-container {
		padding: 0 15px;
	}
	.img--logo {
		vertical-align: middle;
	}
	header {
		.menu-folder {
			left: 0;
			width: 100% !important;
			top: 40px !important;
		}
	}
	.nav-avatar-img {
		display: none;
	}
}
