footer {
  a{
    text-decoration: none;
  }
  background: #292b32;
  .menu-hierarchy {
    max-width: 1024px;
    margin: auto;
    display: flex;
    padding: 64px 0;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }
  .menu-folder-items a {
    text-decoration: none;
    color: #545a77;
    height: 24px;
    line-height: 24px;
    display: block;
    transition: all .25s ease-in-out;
    &:hover {
      color: #008FB4;
    }
  }

  .menu-folder-control {
    margin-bottom: 11px;

    a {
      color: #bbc2dc;
    }
  }
  .footer{
    &-links {
      padding: 30px 0 32px 0;
      max-width: 1024px;
      margin: auto;
      display: flex;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      a {
        margin-right: 8px;
      }
    }
    &-pty-ltd {
      padding: 16px 0 9px;
      box-sizing: border-box;
      position: relative;
      width: 100%;
      vertical-align: middle;
      background-color: #333535;
    }
    .container--footer {
      max-width: 1024px;
      width: 100%;
      margin: auto;
    }
    &-icon {
      width: 20px;
      vertical-align: middle;
    }
  }
  .company-details {
    margin-left: 10px;
    color: #545a77;
  }

}
  
  

  

  
  @media screen and (max-width: 767px) {
    footer {
      .menu-hierarchy {
        flex-wrap: wrap;
        padding: 34px 20px;
      }
  
      .footer-links {
        padding: 0 20px 34px 20px;
      }
  
      .menu-folder {
        width: 100%;
      }
    }
  
    .menu-hierarchy .menu-folder-items a {
      display: none;
    }
  }