.page-not-found {
    position: relative;
    max-width: 1024px;
    box-sizing: border-box;
    margin: 0 auto 50px auto;
    background-color: #fff;
    min-height: 41vh;
  }
  
  .panel-page-not-found {
    margin: 100px auto 0 auto;
    border-radius: 2px;
    border: 1px solid #bbc2dc;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .page-not-found {
    h1 {
      font-size: 55px;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
  
    p {
      font-size: 30px;
      font-weight: 600;
    }
  }
  
  .browse-button {
    margin: 30px 0;
  }
  
  .button-cta:last-of-type:first-of-type, .button-success:last-of-type:first-of-type {
    margin-right: auto;
  }
  
  .button-med {
    line-height: 1.6rem;
    font-size: 18px;
    padding: 8px 16px;
    text-shadow: 0 1px 30x rgba(0, 0, 0, 0.25);
  }
  
  .button-cta {
    border-radius: 200px;
    display: inline-block;
    letter-spacing: 0.05em;
    transition: text-shadow 0.35s cubic-bezier(0.615, 0.19, 0.305, 0.91), border 0.35s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid rgba(41, 43, 50, 0.1);
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    font-weight: 500;
    background-color: #7db343;
  }